@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  /* colors variables */
  --clr-gray200: #cfd8dc;
  --clr-gray100: #f0f7f7;
}

body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.navList {
  background: white;
  box-shadow: 0 0 10px var(--clr-gray200);
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navItem {
  list-style: none;
  margin-right: 2rem;
}

.navItem a {
  text-decoration: none;
  color: black;
}

.navItem:first-child{
  margin-right: auto;
  margin-left: 2rem;
}

.navItem a:hover{
  color: #BD7F37FF;
}


.container{
    max-width: 1114px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.center {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 50%;
}

.normal-button{
  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);  
  box-shadow: 0 0 10px var(--clr-gray200);
}

.normal-button{
  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);  
  box-shadow: 0 0 10px var(--clr-gray200);
}

.normal-button:hover{
  color: #000;
  background: #E7D2CC;
}

#input-form {
  position: absolute;
  bottom: 50%;
  text-align: center;
  right: 0;
  left: 0;
}

.no-delivery {
  position: absolute;
  bottom: 50%;
  text-align: center;
  right: 0;
  left: 0;
  top: 25%;
}

.fas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick-up {
  position: absolute;
  bottom: 50%;
  text-align: center;
  right: 0;
  left: 0;
  top: 25%;
}

img {
  width: 380px;
  background: #fff;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
  filter: blur(0.5px);
}
img:hover {
  transform: scaleX(-1);
}

i {
  cursor: pointer;
}

i:hover{
  color:rosybrown;
  transition-duration: .3s;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.sites-box {
  display: flex;
  justify-content:flex-end;
}

.sites-box .sites {
  flex-direction: row;
  color: #2B2B28;
  font-size: 42px;
  margin: 0 4px;
}

.foot-text {
  font-size: 12px;
  margin-right: 20px;
}
